body
{
  background: #076585;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #fff, #076585);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #fff, #076585); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

font-family: 'Alegreya';
}

.content {
    position: fixed;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
}

#admin-login div form div 
{
    font-size: 130%;
}

.box
{
    padding-left: 15px;
}
form{
    margin-left: 90px;
    margin-top: 30px;
}
.button1
{
    float: left;
}
#section-head
{
    font-size: 300%;
    
}
.how
{
    float: left;
}

#user-signup div form div 
{
    font-size: 130%;
}
#signup-header
{
        margin-right: 64px;

}
#signup-user-label
{
        margin-right: 303px;
        font-weight: 500;
}

